<html>
<body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '785600084968023',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.12'
      });
      
      FB.AppEvents.logPageView(); 

      FB.GetLoginStatus(function(response) {
        if (response.status === 'connected') {
          document.getElementById('status').innerhtml = 'we are connected';
        }; else if (response.status === 'not_authorized') {
          document.getElementById('status').innerhtml = 'we are not logged in'
        } 
      };  
      
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

    <h2>Tic-Tac-Toe</h2>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    <form method='post' action='/game'>
      <h4>Game mode:</h4>
      <input type='radio' id='cpu' value='cpu' name='mode' checked>Human vs CPU</input>
      </br>
      <input type='radio' id='human' value='human' name='mode'>Human vs Human</input>
      </br>
      <h4>Grid size:</h4>
      <input type='radio' id='3x3' value='3x3' name='size' checked>3x3</input>
      </br>
      <input type='radio' id='4x4' value='4x4' name='size'>4x4</input>
      </br>
      </br>
      <input type='submit' value='Start' />
    </form>
  </body>
</html>